<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie</title>
    <th:block th:replace="~{fragments :: linkStyles}"></th:block>
</head>

<body>
    <th:block th:replace="~{fragments :: header}"></th:block>
    <h1 th:text="|Movie ${id}|"></h1>
    <div th:object="${bestMovies[id - 1]}">
        <h1 th:text="*{title}"></h1>
    </div>
    <th:block th:replace="~{fragments :: footer}"></th:block>
</body>

</html>